:root
{
    --minion-yellow: #FEE715;
    --minion-blue: #3366CC;
    --poison: #4f1883;
    --gru-blue: #003366;
    --gru-red: #d70e37;
    --gru-black: #0b0404;
}


body {
    margin: 1rem 5rem;
    font-family: "Bebas Neue", "cursive";
    font-size: 20px;
    color: var(--gru-black);
    background: linear-gradient(to bottom, var(--minion-yellow), var(--minion-blue), var(--poison), var(--gru-red));
    
}

main,
header,
footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    width: 100%;
}

ul {
    list-style: none;
}

header {
    text-align: center;
}

header img {
    border-radius: 1rem;
    max-width: 100%;
}

section {
    text-align: center;
    margin-bottom: 2rem;
}

.tomato {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    border: 1px solid var(--minion-yellow);
    background-color: var(--gru-blue);
    color: var(--minion-yellow);
    border-radius: 1rem;
}

.poster {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
}

.poster img{
    width: 120px;
    padding: 1rem;
}

.poster ul li:last-child {
    margin-top: 0.5rem;
    padding: 0.7rem;
    color: var(--minion-yellow);
    background-color: var(--gru-blue);
    border-radius: 1rem;
    border: 1px solid var(--minion-yellow);
}

.tomato img {
    width: 40px;
    margin-bottom: -1rem;
}

.details ul{
    text-align: left;
}

.summary
{
    max-width: 85%;
    margin-right: 6%;
    margin-left: 6%;
}

.summary img {
    width: 220px;
    margin-top: 2rem;
}

.cast img {
    width: 50px;
    height: auto;
}

.cast-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;

}

.cast-info span:nth-child(2)
{
    color: var(--minion-yellow);
    margin-left: 1rem;
}
