@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Kaushan+Script&family=Vujahday+Script&display=swap');

:root {
    --secondary: #f3f4ee;
    --primary: #BF946F;
    --bg-clr: #151515;
}

body {
    font-family: "Bad Script", cursive;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 2.2;
    background-color: var(--bg-clr);
    color: var(--secondary);
}

h1,
h2,
h3,
h4,
.kontakt,
.price {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    color: var(--primary);
}

.navbar a {
    color: var(--secondary);
    font-size: 1.5rem;
}

.hero img,
.hero video {
    width: 100%;
    max-height: 370px;
}

.hero {
    margin-bottom: 3rem;
    max-width: 1300px;
    max-height: 370px;
}

.products div>p {
    text-align: left;
    max-width: 95%;
}

.products h4 {
    max-width: 95%;
}

.products .light {
    max-height: 280px;
    height: 180px;
    max-width: 95%;
    margin-bottom: 4rem;
    border-radius: 8rem 8rem 0 0;
    background: linear-gradient(to bottom, rgba(255, 252, 252, 0.92), rgba(255, 252, 252, 0.72), rgba(255, 252, 252, 0.62));

}

.content {
    padding-top: 2rem;
    margin-top: 2rem;
}

.landing .container-fluid img {
    aspect-ratio: 16/9 auto;
    margin: 1rem 0;
    border-radius: 2rem;
}

.landing .container-fluid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing .border-img {
    margin-top: 6rem;
}

.products img {
    max-width: 240px;
    max-height: 280px;
    height: 180px;
    width: auto;
}

.border-img img {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
}

.choco {
    & img {
        border-radius: 1rem;
        aspect-ratio: 16/9 auto;
    }

    & div {
        & h3 {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }
        margin-bottom: 2rem;
    }
}

.navbar-brand img {
    vertical-align: text-bottom;
}

.kontakt,
.price {
    color: var(--primary);
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price button {
    background-color: var(--primary);
    border: 1px solid var(--secondary);
    color: var(--bg-clr);
    border-radius: 1rem;
    padding: 0.4rem 2rem;
    font-family: "Bad Script", cursive;
    font-weight: 600;
    font-size: 1.4rem;
}


.kontakt a {
    margin-left: 2rem;
}

footer {
    padding: 2rem;
    margin-top: 4rem;
}

.navbar {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center
}

