body {
    max-width: 960px;
    margin: 0 auto;
}

header, footer {
    text-align: center;
    padding: 2rem 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}

footer {
    left: 0;
    right: 0;
    bottom: 0;
}

h1, h2, h3, h4 {
    text-align: center;
}

.bishSpan {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 50%;
}

.bishDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.bish {
    background-color: limegreen;
}

.bosh {
    background-color: aqua;
}

.bishbosh {
    background-color: orange;
}


.inputDiv form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form button, form input {
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10rem;
    font-size: 1.2rem;
}

form button {
    background-color: limegreen;
    color: white;
    width: 11.5rem;
}

.def{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.def p {
    margin: 0.5rem;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.errPlace, .err {
    text-align: center;
    margin: 0.5rem;
    font-size: 1.5rem;
}

.list-group li button{
    padding: 0.2rem 1.5rem;
}

.btn-danger {
    margin-right: 1.5rem;
}

.warn {
    color: red;
    border: 1px solid orangered;
}